# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
*.xcscmblueprint

# Xcode Previews
*.previewinterface

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
.DocumentRevisions-V100
*.adr

# Code coverage
*.gcda
*.gcno

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Crashlytics
crashlytics-build.properties

# Env / Secrets
*.env
*.pem
*.p8
*.p12
*.mobileprovision
AuthKey_*.p8

# Simulator
*.app
